.all {
  width: 100%;
  height: 100vh;
  display: flex;
}

.double {
  display: flex;
  width: 70%;
  height: 100%;
  padding-right: 48px;
  flex-direction: column;
  background-color: #d2d4c8;
}

.down {
  width: 100%;
  height: 55%;
  display: flex;
  flex-direction: column;
}

.highMap {
  display: flex;
  float: left;
  margin-top: 30px;
  margin-left: 48px;
}
